@charset "UTF-8";

.webcart_main .item_list li {
	position: relative;
	padding: 40px 0;
	border-bottom: solid 1px rgba(255,255,255,0.4);
	overflow: hidden;
}
.webcart_main .item_list li img {
	width: 19.5%;
	max-width: 114px;
	margin-right: 2.5%;
	float: left;
}
.webcart_main .item_list li .check {
	display: table;
	width: 78%;
	float: left;
}
.webcart_main .item_list li .check dl {
	overflow: hidden;
	font-size: 16px;
}
.webcart_main .item_list li .check dl dt {
	clear: both;
	float: left;
	width: 3em;
}
.webcart_main .item_list li .check dl dd {
	overflow: hidden;
	margin-bottom: 1em;
}
.webcart_main .item_list li .check dl dd:last-child {
	padding-bottom: 0;
}
.webcart_main .item_list li .check .btn_del {
	/*@include btn_master*/
	display: block;
	background-color: rgba(0,0,0,0.2);
	border: solid 2px #d3d3d3;
	color: #fff;
	text-align: center;
	text-decoration: none;
	/*add style*/
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	top: 40px;
	right: 0;
	width: 4em;
	padding: 6px 0 4px;
	font-size: 16px;
}
.webcart_main .item_checkout {
	padding-top: 40px;
}
.webcart_main .item_checkout .btn_submit {
	/*@include btn_single (btn_master+add)*/
	display: block;
	background-color: rgba(0,0,0,0.2);
	border: solid 2px #d3d3d3;
	color: #fff;
	text-align: center;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 59.971%;
	max-width: 401px;
	margin: 0 auto;
	height: 56px;
	line-height: 56px;
	/*add style*/
	font-size: 22px;
}
/*"@include btn_master" works*/
.webcart_main .item_list li .check .btn_del:hover,
.webcart_main .item_checkout .btn_submit:hover {
	background-color: rgba(255,255,255,0.8);
	border-color: #fff;
	color: #000;
	text-shadow: none;
	transition: 0.3s;
}

/*-----------------卸売-----------------*/
.about_wholesale .get_text {
	margin-top: 24px;
	line-height: 1.5;
	font-size: 20px;
}
.about_wholesale img {
	display: block;
	width: 40%;
	max-width: 220px;
	margin: 30px auto;
}
.about_wholesale .btn_link {
	/*@include btn_single (btn_master+add)*/
	display: block;
	background-color: rgba(0,0,0,0.2);
	border: solid 2px #d3d3d3;
	color: #fff;
	text-align: center;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 59.971%;
	max-width: 401px;
	margin: 0 auto;
	height: 56px;
	line-height: 56px;
	/*add style*/
	font-size: 16px;
}
/*"@include btn_master" works*/
.about_wholesale .btn_link:hover {
	background-color: rgba(255,255,255,0.8);
	border-color: #fff;
	color: #000;
	text-shadow: none;
	transition: 0.3s;
}

/*----------------------------------------
             SP専用 640pxまで
----------------------------------------*/
@media(max-width: 640px){
	.webcart_main .item_list li .check .btn_del {
		border-width: 1px;
	}
	.webcart_main .item_checkout {
		padding-top: 20px;
	}
	.webcart_main .item_checkout .btn_submit {
		height: 48px;
		line-height: 48px;
		border-width: 1px;
		font-size: 130%;
	}
	/*----------CART中身----------*/
	.webcart_main .item_list li {
		padding: 6.1% 0;
	}
	.webcart_main .item_list li .check dl {
		float: none;
		font-size: calc(8px + 1.9vw);
	}
	.webcart_main .item_list li .check .btn_del {
		position: static;
		font-size: calc(8px + 1.9vw);
	}
	.webcart_main .item_checkout .btn_submit {
		box-sizing: border-box;
	}
	/*-----------------卸売-----------------*/
	.about_wholesale h1{
		font-size: calc(8px + 3.7vw);
	}
	.about_wholesale .get_text {
		margin-top: 5%;
		font-size: calc(55% + 2.2vw);
	}
	.about_wholesale img {
		margin: 20px auto;
		min-width: 135px;
	}
	.about_wholesale .btn_link {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 48px;
		line-height: 48px;
		padding: 0;
		border-width: 1px;
		font-size: 100%;	
	}
}