@charset "UTF-8";

.policy_main p {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 1em;
}
.policy_main p:last-child {
	margin-bottom: 0;
}

/*----------------------------------------
             SP専用 640pxまで
----------------------------------------*/
@media(max-width: 640px){
	.policy_main h1 {
		margin-bottom: 5%;
	}
	.policy_main h1 span {
		display: block;
	}
	.policy_main p {
		font-size: calc(8px + 2.2vw);
	}
}

/*-----------------タイトル折り返し-----------------*/
@media(max-width: 780px){
	.policy_main h1 span {
		display: block;
	}
}