@charset "UTF-8";

/*-------------pc--------------------*/
	.store_main h1 span{
		font-size: 60px;
	}
	.store_main h1 br{
		display: none;
	}
	.store_main dl{
	  overflow: hidden;
	  font-size: 16px;
	  line-height: 24px;
	  padding-top: 20px;
	}
	.store_main dt{
		float: left;
		width: 13.4%;
		margin-bottom: 5px;
	}
	.store_main dd{
		float: left;
		width: 86.6%;
		margin-bottom: 5px;
	}
	.store_main .weekend_journey_contents ul li a{
		font-size: calc(30% + 1.2vw);
	}
	.store_main .product_box{	
		padding: 0px 8.7%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	.store_main .product_box div{
		width: 46.25%;
		text-align: center;
	}
	.store_main .product_box div img{
		width: 69.7%;
		margin-bottom: 62px;
	}
	.store_main .product_box div .text{
		margin-bottom: 32px;
	}
	.store_main .product_box div .add_cart{
		box-sizing: border-box;
	}
	.store_main .product_box div .add_cart a{
		border: 2px solid #d3d3d3;
		display: block;
		background: rgba(0,0,0,0.2);;
		text-decoration: none;
		color: #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 56px;
		line-height: 56px;
	}
	.store_main .product_box div .add_cart a:hover{
		background: rgba(255,255,255,0.8);
		color: #000;
		border: 2px solid #fff;
		transition: 0.3s;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	/*-----------------卸売-----------------*/
	.about_wholesale .get_text {
		margin-top: 24px;
		line-height: 1.5;
		font-size: 20px;
	}
	.about_wholesale img {
		display: block;
		width: 40%;
		max-width: 220px;
		margin: 30px auto;
	}
	.about_wholesale .btn_link {
		/*@include btn_single (btn_master+add)*/
		display: block;
		background-color: rgba(0,0,0,0.2);
		border: solid 2px #d3d3d3;
		color: #fff;
		text-align: center;
		text-decoration: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 59.971%;
		max-width: 401px;
		margin: 0 auto;
		height: 56px;
		line-height: 56px;
		/*add style*/
		font-size: 16px;
	}
	/*"@include btn_master" works*/
	.about_wholesale .btn_link:hover {
		background-color: rgba(255,255,255,0.8);
		border-color: #fff;
		color: #000;
		text-shadow: none;
		transition: 0.3s;
	}

/*------weekend_journeyの文字数--------*/

@media(max-width: 800px){
	.store_main h1{
		text-align: left;
		font-size: 3.75vw;
	}
	.store_main h1 br{
		display: block;
	}
}

/*----------------sp-----------------------*/
@media(max-width: 640px){
	.subpage_wrapper .store_main h1{
		font-size: calc(8px + 7.5vw);
	}
	.subpage_wrapper .store_main h1 span{
		font-size: 3.75vw;
	}
	.subpage_wrapper .store_main dl{
		display: none;
	}
	.subpage_wrapper .store_main .product_box{
		display: block;
	}
	.subpage_wrapper .store_main .product_box div{
		width: 100%;
	}
	.subpage_wrapper .store_main .product_box div .text{
		margin-bottom: 20px;
	}
	.subpage_wrapper .store_main .product_box div .add_cart{
		height: 48px;
	}
	.subpage_wrapper .store_main .product_box div .add_cart a{
		width: 74.08%;
		height: 100%;
		margin: 0 auto;
		padding: 0px;
		border-width: 1px;
		line-height: 48px;
		font-size: 100%;
	}
	.subpage_wrapper .store_main .product_box div p:first-of-type{
		margin-bottom: -65px;
	}
	.about_wholesale h1{
		font-size: calc(8px + 3.7vw);
	}
	.about_wholesale .get_text {
		margin-top: 5%;
		font-size: calc(55% + 2.2vw);
	}
	.about_wholesale img {
		margin: 20px auto;
		min-width: 135px;
	}
	.about_wholesale .btn_link {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 48px;
		line-height: 48px;
		padding: 0;
		border-width: 1px;
		font-size: 100%;	
	}
}