@charset "UTF-8";

.tokusyou_main h1 {
	margin-bottom: 24px;
}
.tokusyou_main dl {
	line-height: 1.5;
	font-size: 20px;
}
.tokusyou_main dl dt {
	font-size: 1.2em;
}
.tokusyou_main dl dd {
	margin-bottom: 32px;	
}
.tokusyou_main dl dd:last-child {
	margin-bottom: 0;
}

/*----------------------------------------
             SP専用 640pxまで
----------------------------------------*/
@media(max-width: 640px){
	.tokusyou_main dl {
		font-size: calc(8px + 2.2vw);
	}
}