@charset "UTF-8";

/*-----------フォント設定------------------*/
	html{
		font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
	}
	.page_header h1,
	.webcart_main h1,
	.btn_del,
	.btn_submit {
		font-family: din-condensed, sans-serif;
		font-style: normal;
		font-weight: 300;
		text-shadow: 0px 0px 20px #000;
	}

/*---------------SP 640pxまで---------------*/
.pc { display: none; }
.page_header {
	background: rgba(0,0,0,0.4);
	font-size: 100%;
}
	.page_header h1 {
		padding: 25px 0 15px;
		text-align: center;
		color: #fff;
		font-size: 32px;
	}
.hum_menu{
	position: absolute;
	left: 20px;
	top: 20px;
}
	.hum_menu a{
		background-color: transparent;
		display: block;
		width: 30px;
		height: 30px;
		padding-top: 5px;
		box-sizing: border-box;
	}
		.hum_menu a span{
			display: block;
			width: 30px;
			height: 3px;
			background: #fff;
			border-radius: 10px;
			margin: 6px auto;
		}
		.hum_menu a span:first-child{
			margin-top: 0px;
		}


.webcart_wrapper {
	background-image: url(../../../image/sp_bg_main_03.png);
    -webkit-background-size: cover;
    background-size: cover;
}
.site_name {
	text-align: center;
    padding: 37px 0;
    width: 100%;
    margin: 0 auto;
}
	.site_name img {
		width: 43.75%;
	}

/*-----------------CART-----------------*/
.webcart_main {
	padding: 0 5%;
	background: rgba(0,0,0,0.6);
	color: #fff;
}
	.webcart_main h1 {
		padding-top: 24px;
		font-size: 60px;
		font-size: calc(50% + 9vw);
	}
		.webcart_main h1 span {
			font-size: 0.4em;
			padding-left: 1em;
		}

.item_list {}
	.item_list li {
		padding: 32px 0;
		border-bottom: solid 1px rgba(255,255,255,0.4);
		overflow: hidden;
	}
		.item_list li picture {
			width: 15%;
			margin-right: 44px;
			float: left;
		}
			.item_list li picture source,
			.item_list li picture img {
				width: 100%;
			}
		.item_list li .check {
			display: table;
			width: calc(85% - 44px);
			overflow: hidden;
			float: left;
		}
			.item_list li .check dl {
				display: table-row;
				font-size: calc(50% + 2.5vw);
			}
				.item_list li .check dl dt {
					display: table-cell;
					min-width: 3em;
				}
				.item_list li .check dl dd {
					display: table-cell;
					padding-bottom: 1em;
				}
				.item_list li .check dl:last-child dd {
					padding-bottom: 0;
				}

.item_checkout {
	padding: 40px 0 44px;
}
.btn_del {
	display: block;
	width: 96px;
	margin-top: 2.5vw;
	padding: 6px 0 4px;
	border: solid 2px #d3d3d3;
	color: #fff;
	text-align: center;
	font-size: 24px;
	text-decoration: none;
}
.btn_submit {
	display: block;
	width: 47%;
	margin: 0 auto;
	padding: 16px 0 12px;
	border: solid 2px #d3d3d3;
	color: #fff;
	text-align: center;
	font-size: 36px;
	text-decoration: none;
}









/*---------------retina設定-----------------*/
@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 2dppx) {
       	.webcart_wrapper{
       		background-image: url(../image/bg_main_02@2x.png);
		}
}